body{
    background-color: yellow;
}
h1{
    color: brown;
    font-style: italic;
}
.AnaCastela{width: 50%;}
.Sekekama{width: 50%;}
.Tsavo{width: 50%;}
.Covil{width: 50%;}
.A Escuridão{width: 50%;}
.O Rei mais temido do mundo{width: 50%;}