body{
    background-color: yellow;
    text-align: center;
}
h1{
    color: brown;
    font-style: italic;
}
h3{
    font-size: large;
}
h3{
    font-size: large;
}
h2{
    font-size: large;
}
h3{
    font-size: large;
}
.AnaCastela{width: 50%; text-align: center;}
.Sekekama{width: 50%; text-align: center;}
.Tsavo{width: 50%; text-align: center;}
.Covil{width: 50%; text-align: center;}
.A Escuridão{width: 40%; text-align: center;}
.O Rei mais temido do mundo{width: 50%; text-align: center;}
.Ponte{width: 50%; text-align: center;}
.Árvore{width: 50%; text-align: center;}
.Quase finalizada{width: 50%; text-align: center;}
.Ponte finalizada{width: 50%; text-align: center;}
.Armadilhas{width: 50%; text-align: center;}
.Ponte em Tsavo atualmente{width: 50%; text-align: center;}
.Coronel John Henry Patterson{width: 50%; text-align: center;}
.lista{
    text-decoration: overline;
}